/* 
  =========================
  Page body
  =========================	
*/

html, body {

	margin-top: 0;
	padding: 0;

}

/* 
  =========================
  Links
  =========================	
*/

a {

	color: #9CF;
	text-decoration: none;

}

a:hover {

	text-decoration: inherit;
	color: #0F0;

}

a:visited:after {

	text-decoration: inherit;
	color: #F66;
}

/* 
  =========================
  Container for map, data
  table and coordinates
  display
  =========================	
*/

#container {

	margin-left: auto;
	margin-right: auto;
	width: 95%;
	height: 95%;
}

/* 
  =========================
  Title bar & Page Logo
  =========================	
*/

#titlebar {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 125px;
	background-color: #0A0;
	z-index: 9999;
}

#logo {

	position: absolute;
	top: 2px;
	left: 5px;

}

#titlebar h1 {

	position: absolute;
	display: inline-block;
	margin-left: 120px;
	color: #C00;
	font-family: Trebuchet, Helvetica, Arial, sans-serif;
	font-style: italic;
	white-space: nowrap;
}

#titlebar h5 {

	position: absolute;
	display: inline-block;
	text-align: center;
	margin-left: 140px;
	margin-top: 65px;
	color: #EDFA00;
	font-family: Trebuchet, Helvetica, Arial, sans-serif;
	font-style: italic;
	white-space: nowrap;
}

/* 
  =========================
  Webpage Instructions
  =========================	
*/

#instruct {

	position: fixed;
	width: 450px;
	right: 0;
	height: 110px;
	border: 5px ridge #ECF26F;
	margin-right: 5px;
	float: right;
	top: 2px;
	z-index: 10000;

}

#instruct ol {

	margin-top: 10px;

}

#instruct ol li {

	font-size: 15px;
	font-style: italic;
	color: yellow;

}

#instruct h5 {

	left: 5px;
	margin: 0 20px;
	text-decoration: underline;
	color: #ECF26F;
	font: inherit;
	font-style: italic;

}

/* 
  =========================
  World map
  =========================	
*/

#map {

	width: 600px;
	height: 500px;
	margin-top: 150px;
	border: 5px double #0A0;
}

#searchbar {

	position: absolute;
	display: inline-block;
	z-index: 5;
	margin-top: -500px;
	margin-left: 120px;
	background-color: #414A58;
	border: 1px solid #999;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	
}

#address {

	width: 250px;
}

/* 
  =========================
  Map submarker information
  box contents
  =========================	
*/

#boxtitle {

	font-family: Trebuchet, Helvetica, Arial, sans-serif;
	color: #3292B3;
	display: inline-block;
}

#hours {

	font: bold 14px Times, Helvetica, Arial, sans-serif; 

}

/* 
  =========================
  Restaurant data table
  container
  =========================	
*/

table {

	table-layout: fixed;
	width: 150px;
	border-radius: 5px;

}

#datatable {

	position: relative;
	height: 670px;
	width: 1090px;
	overflow-y: auto;
	left: 700px;
	top: -510px;
	border: 5px double #0A0;
}

/* 
  =========================
  Restaurant data table
  container
  =========================	
*/


#restable {

	overflow: scroll;
	background-color: #414A58;

}

#restable th {

	border-color: red;
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #0E0;
	width: 150px;
}

#restable td {

	width: 150px;
	overflow: hidden;
	border-color: red;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: yellow;
	text-align: center;
}

/*
  =========================
  Map center and map marker
  coordinates display form
  container 
  =========================
  */

#latlng {

	position: relative;
	
}

/*
  =========================
  Map center and map marker
  coordinates display form 
  =========================
  */

#viewcoords {

  	margin-top: -660px;
  	width: 335px;
  	background-color: #414A58;
  	border-radius: 10px;

  }

#viewcoords fieldset {

	border-radius: 10px;
}

#viewcoords label {

	display: inline-block;
	float: left;
	clear: left;
	width: 195px;
	text-align: left;
	padding-bottom: 10px;
	color: yellow;
	font: bold 16px Arial, Helvetica, sans-serif;

}

#viewcoords input {

	display: inline-block;
	float: left;
	width: 100px;
	font: bold 16px Arial, Helvetica, sans-serif;
	background-color: black;
	color: white;
	border-radius: 5px;
}


/*
  =========================
  Search radius entry form 
  =========================
  */

#radius {

	width: 250px;
	margin-left: 350px;

}

#radius form {

	width: 250px;
	margin-bottom: 50px;
	margin-top: -105px;
}

#radius fieldset{

	position: relative;
	width: 180px;
	background-color: #414A58;
	border-radius: 10px;
	top: 71%;

}

#radius label {

	color: yellow;
	font: bold 16px Arial, Helvetica, sans-serif;
	margin-left: 20px;
}

#radius input {

	font: bold 20px Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
	background-color: inherit;
	border-radius: inherit;
}

/* 
  =========================
  Footer bar and text
  =========================	
*/

#footer {

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #A00;
	z-index: 9998;

}

#footer p {

	text-align: center;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #FFF;
	white-space: nowrap;
	display: inline-block;
	margin-left: 445px;
}

#footmsg {

	font-size: 16px;

}

/* 
  =========================
  Footer bar link
  =========================	
*/

#footer a {

	color: yellow;
	text-decoration: none;

}

#footer a:hover {

	text-decoration: none;
	color: green;

}