/* 
  =========================
  Page body
  =========================	
*/

body {

	width: 100%;
	height: 90%;
	background-color: #D6AA9A;

}

/* 
  =========================
  Links
  =========================	
*/

a {

	color: yellow;

}

/* 
  =========================
  World map
  =========================	
*/

#map {
	width: 500px;
	height: 500px;
	background-color: #CCC;
	float: left;
}

/* 
  =========================
  Restaurant data table
  container
  =========================	
*/

#datatable {

	float: right;
	height: 800px;

}

/* 
  =========================
  Restaurant data table
  container
  =========================	
*/

#restable {

	overflow: scroll;
	background-color: black;
	table-layout: fixed;
}

#restable th {

	border-color: green;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: white;
}

#restable td {

	
	width: 110px;
	overflow: hidden;
	word-wrap: break-word;
	border-color: green;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: white;
}

/*
  =========================
  Map center and map marker
  coordinates display form
  container 
  =========================
  */

#latlng {

	float: left;
	overflow: hidden;

}

/*
  =========================
  Map center and map marker
  coordinates display form 
  =========================
  */

form fieldset {

	width: 300px;
	background-color: #C2C9CC;
	border-radius: 5px;


}

label {

	display: inline-block;
	float: left;
	clear: left;
	width: 180px;
	text-align: left;
	padding-bottom: 10px;
	color: red;
	font: bold 14px Arial, Helvetica, sans-serif;

}

input {

	display: inline-block;
	float: left;
	width: 100px;
	font: bold 14px Arial, Helvetica, sans-serif;
	background-color: black;
	color: white;
}


/*
  =========================
  Search radius entry form 
  =========================
  */

#radius fieldset{

	float: left;
	width: 50px;
	background-color: #C2C9CC;
	border-radius: 5px;

}